/* Entry point — imports the design system globals */
@import './styles/globals.css';
@import 'tailwindcss';

:root {
    --background: #f9f9ff;
    --foreground: #111c2d;
    --primary: #0350ff;
    --primary-hover: #003cc8;
    --card: #ffffff;
}

/* Định nghĩa theme khi có class .dark ở thẻ html */
.dark {
    --background: #111c2d;
    --foreground: #f8fafc;
    --primary: #0350ff;
    --primary-hover: #003cc8;
    --card: #434656;
}

/* Áp dụng các biến đó vào hệ thống theme của Tailwind */
@theme {
    --color-bg-main: var(--background);
    --color-text-main: var(--foreground);
    --color-btn-primary: var(--primary);
    --color-btn-primary-hover: var(--primary-hover);
    --color-bg-card: var(--card);
}
